<div class="container mt-4">
  <div class=" d-flex justify-content-between ">
    <h2><%= @task.title %></h2>
    <div , class=" btn btn-outline-secondary text-dark text-semibold">
      <i class="fa-solid fa-pencil"></i>
      <%= link_to "Edit this task", edit_task_path, class: "text-decoration-none text-dark " %>
    </div>

  </div>

  <p class="card card-header m-4 p-4 "><%= @task.details %></p>
  <div class="d-flex ">
    <input type=" checkbox" class="form-check-input me-2" <%='checked' if @task.completed %>>
    <p>this task is no completed yet</p>
  </div>
  <%= link_to "Back to list", tasks_path %>
  <%= link_to "Delete",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
</div>